.border {border:#FF0000 1px solid ; outline:#FF0000 1px solid;}
.buttonBGColor {background: #368BC1;}
.borderinner {border:#848b79 1px solid ; outline:#000; 1px solid; height:250px; margin-right:2px}